<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.mapper.PersonMapper">
		<select id="findPersonById2" parameterType="Integer" resultMap="IdCardWithPersonResult2">
			select p.*,idcard.code
			from tb_person p,tb_idcard idcard
			where  p.card_id=idcard.id
			and p.id=#{id}
		</select>
		<resultMap type="Person" id="IdCardWithPersonResult2">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
			<result property="age" column="age"/>
			<result property="sex" column="sex"/>
			<association property="card" javaType="IdCard">
				<id property="id" column="card_id"/>
				<result property="code" column="code"/>
			</association>
		</resultMap>
	
	
	
	
	
	
		<!-- 嵌套查询: 通过执行另一条 SQL 映射语句来返回语气的特殊类型  -->
		<select id="findPersonById" parameterType="Integer" resultMap="IdCardWithPersonResult">
			select * from tb_person where id=#{id}
		</select>
		<resultMap type="Person" id="IdCardWithPersonResult">
			<id property="id" column="id"/>
			<result property="name" column="name"/>
			<result property="age" column="age"/>
			<result property="sex" column="sex"/>
			<!-- 一对一: association 使用 select 属性引入另一条 SQL 语句 -->
			<association property="card" column="card_id" javaType="IdCard" select="com.mapper.idCardMapper.findCodeById" />
		</resultMap>
	</mapper>